*{
    margin: 0;
    padding: 0
}

body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
    color: yellowgreen;
}
