*{
    font-size: 20px;
}

body{
    background-image: url(../imagenes/fonde.jpg);
}

.main-cont{
    border: 7px solid black;
    border-radius: 50px;
    margin: 2rem;

}

.cont-header{
    color: black;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 4px;
}

th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.cont-table{
    background-color: blueviolet;
    color: white;
}

.cont-body{
    padding: 10px;
}

td a{
    color: blue;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

td a:hover{
    color: darkblue;
    text-decoration: underline;
}