# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos de configuración de entorno
.env
.env.*
!.env.example

# Archivos de compilación/transpilación
dist/
build/

# Archivos del sistema operativo y de editor
.DS_Store
Thumbs.db

# Archivos de logs
*.log