body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    text-align: center;
}

.big-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
    height: 600px;
    margin: 30px auto;
    border: 5px solid black;
}

.small-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid black;
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}